<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Genres</title>
</head>
<body>
    <h1>Movie Genres</h1>
    <ul>
        {% for genre in genres %}
        <li>
            <h2>{{ genre['Genre'] }}</h2>
            <ul>
                {% for movie in genre_movies[genre['Genre']] %}
                <li>
                    <a href="{{ url_for('movie', movie_name=movie['Name']) }}">{{ movie['Name'] }}</a>
                </li>
                {% endfor %}
                <li><a href="{{ url_for('genre', genre_name=genre['Genre']) }}">View All</a></li>
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
